.skill {
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  border-radius: 4px;

  padding: 8px;
  transform: rotateY(180deg);
}

.skill > img {
  width: 100%;
  height: 100%;
}

.skilllist {
  width: calc(100% - 24px);
  height: 80px;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
