.cardContainer {
  position: relative;
  z-index: 99;

  width: 280px;
  height: 360px;

  border-radius: 8px;
  overflow: hidden;

  transition: transform 0.3s;

  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
}

.cardImage {
  position: absolute;
  z-index: 99;
  background-size: cover;
  background-position: center;
  transition: background-color 1s;
  transition-delay: 0.5s;
  width: 100%;
  height: 100%;
}

.cardHover {
  position: absolute;
  z-index: 999;
  /* background-color: var(--g0); */
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;

  display: flex;
  align-items: flex-end;
}

.cardContainer:hover .cardHover {
  opacity: 1;
  transition: 0.1s;
}

.overlay {
  position: absolute;
  z-index: 999;

  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;

  display: flex;
  align-items: center;
}

.cardContainer:hover .overlay {
  opacity: 1;
  transition: 0.1s;
}

.cardtitle {
  font-size: 16px;
  color: var(--g2);
  width: 80%;
  word-break: keep-all;
  line-height: 160%;
  margin: 24px auto;
}

.content {
  text-decoration: "none";
}

.clicked {
  transform: rotateY(180deg) !important;
  transition: 0.8s !important;
}

.imgclick {
  z-index: 999 !important;
  opacity: 1 !important;
  transition: 0.8s !important;
  transition-delay: 0.8s;
}

.github {
  width: 32px;
  height: 32px;

  padding: 16px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;

  cursor: pointer;

  border-radius: 4px;
}
.github > img {
  width: 100%;
  height: 100%;
}

.link {
  min-width: 32px;
  height: 32px;

  padding: 16px;

  position: absolute;
  z-index: 99;

  cursor: pointer;

  transform: rotateY(180deg);

  border-radius: 4px;
  display: flex;
}

.github {
  bottom: 0;
  left: 0;
  z-index: 99;
}

.visitsite {
  width: fit-content;
  bottom: 0;
  right: 0%;
  z-index: 99;
  color: var(--g0);
  align-items: center;
  font-weight: 200;
  letter-spacing: 0.5px;
  text-decoration: underline;
  transition: 0.5s;
}

.visitsite:hover {
  color: var(--p2) !important;
}

.skilltitle {
  font-size: 1.4rem;
  transform: rotateY(180deg);
  color: #ffffff;
  margin: 24px;
  position: absolute;
  top: 0;
}

/* 카드 뒷면 */

.cardBack {
  position: absolute;
  z-index: 1;
  background-color: var(--g2);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 스킬카드 */

.skillCard {
  max-width: calc(33% - 12px) !important;
  max-height: 240px !important;
  background-color: var(--g2) !important;
  color: var(--g0) !important;
  flex: 1 1 30%;
}

.SkillcardIntro {
  display: flex;
  flex-direction: column;
}

.SkillcardIntro > .cardtitle {
  color: var(--g0);
  width: fit-content !important;
  height: 100%;
  margin: 0 0 0 24px;
  font-size: 20px;
}

.SkillcardImage {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 24px;
  width: 80px;
  height: 80px;

  border-radius: 12px;

  z-index: 99;
  top: 24px;
  left: 24px;

  background-size: cover;
  background-position: center;
  transition: background-color 1s;
  transition-delay: 0.5s;
}

.Skillcardcenter {
  width: 48px;
  height: 48px;
}
.cardabout {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin: 12px 0px 0px;
}

.skillabout {
  display: block;
  width: calc(100% - 48px);
  margin: 0px 24px;
  font-size: var(--skillabout);
  font-weight: 300;
  display: flex;
  word-break: keep-all;
}

/* 카드리스트 */

.maincontainer {
  width: 100%;
  display: flex;
  gap: 24px;
  padding-top: 24px;
  margin-bottom: 48px;
  position: relative;
  flex-wrap: wrap;
}

@media screen and (max-width: 1440px) {
  .cardContainer {
    flex: 1 1 25%;
    max-width: 325px;
  }
  .skillCard {
    max-width: calc(50% - 12px) !important;
    max-height: 240px !important;
    background-color: var(--g2) !important;
    color: var(--g0) !important;
    flex: 1 1 33%;
  }
}

@media screen and (max-width: 1024px) {
  .cardContainer {
    flex: 1 1 33%;
    max-width: 388px;
  }

  .skillCard {
    max-width: calc(50% - 12px) !important;
    min-width: calc(50% - 12px) !important;
    max-height: 240px !important;
    background-color: var(--g2) !important;
    color: var(--g0) !important;
    flex: 1 1 25%;
  }
}

@media screen and (max-width: 800px) {
  .cardContainer {
    flex: 1 1 50%;
    max-width: 388px;
  }

  .skillCard {
    max-width: none !important;
    min-width: none !important;
    max-height: 240px !important;
    background-color: var(--g2) !important;
    color: var(--g0) !important;
    flex: 1 1 calc(50%);
  }
}
