.mainlayout {
  position: relative;
  height: 100%;
  max-width: var(--web1200);
  margin: 0 auto 48px;
}

@media screen and (max-width: 1440px) {
  .mainlayout {
    max-width: var(--web1000);
  }
}

@media screen and (max-width: 1024px) {
  .mainlayout {
    max-width: var(--web800);
  }
}

@media screen and (max-width: 800px) {
  .mainlayout {
    width: var(--webmobiled);
    margin: 0 auto 48px;
  }
}
