.titleContainer {
  position: relative;
  display: flex;

  width: 100%;
  justify-content: space-between;
  height: 300vh;
  padding-top: 80px;
}

.titleWrapper {
  position: sticky;
  display: flex;
  width: 100%;
  height: calc(100vh - 85px);
  top: 85px;
  gap: 24px;
}

.nameWrapper {
  position: relative;
  width: calc(100%);
  height: 100%;
  display: flex;
  transition: 0.8s;
  position: relative;
}

#toptitle {
  position: absolute;
  word-break: keep-all;

  width: fit-content;
  min-width: var(--topmin);

  top: calc(50% - 64px);

  padding: 12px 0px;
  transition: 500ms;
}

#bottitle {
  position: absolute;
  word-break: keep-all;

  width: fit-content;
  min-width: var(--botmin);

  top: calc(50% + 32px);
  transition: 500ms;
  padding: 12px 0px;
}

.background {
  width: 100%;
  height: 2000px;

  position: relative;
}

/* 히스토리 */

.historyWrapper {
  width: calc(50% - 36px);
  position: absolute;
  height: auto;

  top: 50%;
  color: var(--g0);
  font-weight: 200;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  right: 0;
  gap: 24px;

  transition: 500ms;
}

.historylist {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-right: 12px;
  gap: 48px;
}

.historylist > span {
  font-size: 16px;
}
.historylist > .details {
  padding: 0px;
}

.year {
  min-width: 100px;
  max-width: 100px;
}

.box {
  position: absolute;
  z-index: 1;

  width: var(--boxwidth);
  height: 100%;

  background-color: var(--g1);

  transform-origin: right center;

  top: 0;
  right: 0px;

  border-left: 1px solid var(--g0);

  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    border-left: 2px solid var(--g0);
  }
  50% {
    border-left: 2px solid var(--g0);
  }
  51% {
    border-left: 2px solid #ffffff00;
  }
  100% {
    border-left: 2px solid #ffffff00;
  }
}

@media screen and (max-width: 1024px) {
  .historyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    gap: 24px;

    transition: 500ms;
  }

  .historylist {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: fit-content;
    margin-right: 12px;
    gap: 48px;
  }

  .historylist > span {
    font-size: 16px;
    text-align: center;
  }
  .historylist > .details {
    padding: 0px;
  }
}

@media screen and (max-width: 800px) {
  .titleWrapper {
    position: sticky;
    display: flex;
    width: 100%;

    height: calc(100vh - 85px);
    top: 85px;
    gap: 24px;
    overflow: hidden;
  }

  .nameWrapper {
    position: relative;
    width: calc(100%);
    height: 100%;
    display: flex;
    transition: 0.8s;
    position: relative;
  }

  /* 히스토리 */

  .historyWrapper {
    width: calc(100%);
    position: absolute;
    height: 50%;

    top: 30%;
    color: var(--g0);
    font-weight: 200;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    right: 0;
    gap: 24px;

    transition: 500ms;
  }

  .historylist {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-right: 12px;
    gap: 48px;
  }

  #toptitle {
    position: absolute;
    word-break: keep-all;

    width: fit-content;
    min-width: var(--topmin);

    top: calc(50% - 64px);
    text-align: center;
    padding: 12px 0px;
    transition: 500ms;
  }

  #bottitle {
    position: absolute;
    word-break: keep-all;

    width: fit-content;
    min-width: var(--botmin);

    top: calc(50% + 32px);
    transition: 500ms;
    padding: 12px 0px;
    text-align: center;
  }

  .background {
    width: 100%;
    height: 2000px;

    position: relative;
  }
}
