.titleContainer {
  position: relative;
  display: flex;

  justify-content: space-between;
  height: 300vh;
  padding-top: 80px;
}

.titleWrapper {
  position: sticky;
  display: flex;
  width: 100%;
  height: calc(100vh - 85px);
  top: 85px;
  gap: 24px;
}

.nameWrapper {
  width: calc(50%);
  height: 100%;
  display: flex;
  transition: 0.8s;
}

#toptitle {
  position: absolute;
  word-break: keep-all;

  min-width: 600px;
  width: fit-content;

  top: calc(50% - 64px);

  padding: 12px 0px;
  transition: 500ms;
}

#bottitle {
  position: absolute;
  word-break: keep-all;
  min-width: 440px;
  width: fit-content;
  top: calc(50% + 32px);
  transition: 500ms;
  padding: 12px 0px;
}

.background {
  width: 100%;
  height: 2000px;

  position: relative;
}

/* 히스토리 */

.historyWrapper {
  width: calc(50% - 12px);
  position: absolute;
  height: fit-content;

  top: 50%;
  color: var(--g0);
  font-weight: 200;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  right: 0;
  gap: 24px;
}

.historylist {
  position: relative;
  display: flex;

  width: fit-content;
  gap: 60px;
}

.historylist > span {
  font-size: 20px;
}

.year {
  min-width: 100px;
}

.box {
  position: absolute;
  z-index: 1;

  width: var(--boxwidth);
  height: 100%;

  background-color: var(--g1);

  transform-origin: right center;

  top: 0;
  right: 0px;

  border-left: 1px solid var(--g0);
}
