.sectionContainer {
  width: 100%;
  min-height: 250px;
  transition: 500ms;
  opacity: 0;
}

.sectionContainer > h2 {
  transition: 500ms;
}

/*  섹션중 왼쪽에 글이 있는 상태의 섹션 */
.LeftContianer {
  position: relative;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.RightContianer {
  position: relative;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.CenterContainer {
  position: relative;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-direction: column;
}

.MainContainer > .textWrapper > p {
  width: 100%;
}

.textWrapper {
  width: 550px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.overview {
  align-items: center;
}

.overview > p {
  text-align: center;
  word-break: keep-all !important;
}

/*  섹션*/
.MainContainer {
  position: relative;
  width: 100%;

  display: flex;
  gap: 24px;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  transition: 500ms;
}

.MainContainer > .imgContainer > .image {
  width: auto;
  max-width: 1000px !important;
}
.image {
  width: auto;
  max-width: 520px;
}

.CenterContainer > .textWrapper {
  height: fit-content;
}

.center {
  width: 600px !important;
  display: flex;
  justify-content: space-between;
}

.overview > span {
  color: var(--g0);
  width: fit-content;
  /* text-decoration: underline; */
  cursor: pointer;
  padding: 12px 18px;
  border: solid 1px #ffffff;
  border-radius: 9999px;
  margin-top: 12px;
  transition: 0.6s;
}

.overview > span:hover {
  background-color: #ffffff21;
  transition: 0.6s;
}
/* 이미지 여러장 보여주기 */
.imgContainer {
  width: auto;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.imgcon {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1 1 calc(50% - 12px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.imgcon > img {
  width: calc(100%);
}

.over {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--g0);
  flex-direction: column;
  transition: 0.5s;
}

.over > span {
  opacity: 0;
}

.LeftContianer:hover .over,
.imgcon:hover .over {
  width: 100%;
  height: 100%;
  background-color: #33333380;
  transition: 0.4s;
}

.LeftContianer:hover .over > span,
.imgcon:hover .over > span {
  opacity: 1;
  transition: 0.5s;
}

.smimg {
  width: 100vw;
  height: 33vw;
  position: absolute;
}
.black {
  width: 100%;
  height: 100%;
  /* background-color: #00000070; */
  position: absolute;
  z-index: 1;
}

.imagecon {
  position: absolute;
  width: 100%;
  height: 100%;
}
.CenterContainer > p,
.textWrapper > p {
  width: 100%;
  height: auto;
  white-space: normal;
  resize: none;
  overflow: hidden;
  word-break: break-all;
  overflow-wrap: anywhere;
  border: none;
  color: var(--g0);
  background-color: transparent;
  font-size: 16px;
  padding: 0;
  line-height: 160%;
  margin: 0;
}

.MainContainer > .textWrapper {
  width: calc(100%);
}

@media (max-width: 1440px) {
  /*  섹션중 왼쪽에 글이 있는 상태의 섹션 */
  .LeftContianer {
    gap: 40px;
  }

  .MainContainer > .textWrapper {
    width: calc(100% - 20px);
  }

  .RightContianer {
    gap: 40px;
  }

  .CenterContainer {
    position: relative;
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  .CenterContainer > p,
  .textWrapper > p {
    color: var(--g0);
    margin: 0;
    font-size: 14px;
  }
  .textWrapper {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  /*  섹션중 왼쪽에 글이 있는 상태의 섹션 */
  .LeftContianer {
    flex-direction: column;
    gap: 12px;
  }

  .RightContianer {
    flex-direction: column-reverse;
    gap: 12px;
  }

  .CenterContainer {
    position: relative;
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
  }

  .CenterContainer > p,
  .textWrapper > p {
    color: var(--g0);
    margin: 0;
    font-size: 14px;
  }
  .textWrapper {
    width: 100%;
    gap: 12px;
  }
}

@media (max-width: 800px) {
  /*  섹션중 왼쪽에 글이 있는 상태의 섹션 */
  .LeftContianer {
    flex-direction: column;
    gap: 12px;
  }

  .RightContianer {
    flex-direction: column-reverse;
    gap: 12px;
  }

  .CenterContainer {
    position: relative;
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
  }
  .textWrapper {
    width: 100%;
    gap: 12px;
  }

  .CenterContainer > p,
  .textWrapper > p {
    color: var(--g0);
    margin: 0;
    font-size: 12px;
  }

  .image {
    width: 100%;
  }

  .MainContainer > .imgContainer > .image {
    max-width: 375px !important;
  }

  .center > span {
    font-size: 10px;
  }

  .mainImage {
    position: relative;
    width: 100vw;
    height: 250px; /* 패럴렉스 효과를 주고자 하는 요소의 높이에 맞게 조정하세요 */
    overflow: hidden;
    background-image: var(--img);
  }

  .MainContainer > .textWrapper {
    width: calc(100% - 20px);
  }
}
