.sectionContainer {
  width: 100%;
  min-height: 250px;
  transition: 500ms;
  opacity: 0;
}

.sectionContainer > h2 {
  transition: 500ms;
}

/*  섹션중 왼쪽에 글이 있는 상태의 섹션 */
.LeftContianer {
  position: relative;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.RightContianer {
  position: relative;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.CenterContainer {
  position: relative;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-direction: column;
}

.textWrapper {
  width: 550px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.image {
  width: auto;
  max-width: 520px;
}

.CenterContainer > .textWrapper {
  height: fit-content;
}
.center {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.center > span {
  color: var(--g0);
  width: fit-content;
  text-decoration: underline;
  cursor: pointer;
}

/* 이미지 여러장 보여주기 */
.imgContainer {
  width: auto;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.imgcon {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1 1 calc(50% - 12px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.imgcon > img {
  width: calc(100%);
}

.over {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--g0);
  flex-direction: column;
  transition: 0.5s;
}

.over > span {
  opacity: 0;
}

.LeftContianer:hover .over,
.imgcon:hover .over {
  width: 100%;
  height: 100%;
  background-color: #33333380;
  transition: 0.4s;
}

.LeftContianer:hover .over > span,
.imgcon:hover .over > span {
  opacity: 1;
  transition: 0.5s;
}

.function {
  width: 373px;
}

.functionImg {
  width: 752px;
  height: 500px;
}

.smimg {
  width: 100vw;
  height: 33vw;
  position: absolute;
}
.black {
  width: 100%;
  height: 100%;
  /* background-color: #00000070; */
  position: absolute;
  z-index: 1;
}
/* .imagecon {
  position: relative;
  width: 100vw;
  height: 33vw;
} */
.imagecon {
  position: absolute;
  width: 100%;
  height: 100%;
}
.CenterContainer > p,
.textWrapper > p {
  width: 100%;
  height: auto;
  white-space: normal;
  resize: none;
  overflow: hidden;
  word-break: break-all;
  overflow-wrap: anywhere;
  border: none;
  color: var(--g0);
  background-color: transparent;
  font-size: 18px;
  padding: 0;
  line-height: 160%;
  margin: 0;
}

textarea:focus {
  outline: none;
}

.maintext {
  color: var(--g0);
  z-index: 3;
}

.maintext > span {
  font-weight: 400;
  font-size: 28px;
}

.maintextcon {
  width: var(--web1200);
  height: auto;
  margin: 0 auto;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: end;
  bottom: 56px;
  color: var(--g1);
  z-index: 3;
}

iframe {
  width: 100%;
  height: 720px;
}
.mainImage {
  position: relative;
  width: 100vw;
  height: 440px; /* 패럴렉스 효과를 주고자 하는 요소의 높이에 맞게 조정하세요 */
  overflow: hidden;
  background-image: var(--img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1440px) {
  /*  섹션중 왼쪽에 글이 있는 상태의 섹션 */
  .LeftContianer {
    gap: 40px;
  }

  .RightContianer {
    gap: 40px;
  }

  .CenterContainer {
    position: relative;
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  .CenterContainer > p,
  .textWrapper > p {
    color: var(--g0);
    margin: 0;
    font-size: 14px;
  }
  .textWrapper {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  /*  섹션중 왼쪽에 글이 있는 상태의 섹션 */
  .LeftContianer {
    flex-direction: column;
    gap: 12px;
  }

  .RightContianer {
    flex-direction: column-reverse;
    gap: 12px;
  }

  .CenterContainer {
    position: relative;
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
  }

  .CenterContainer > p,
  .textWrapper > p {
    color: var(--g0);
    margin: 0;
    font-size: 14px;
  }
  .textWrapper {
    width: 100%;
    gap: 12px;
  }
}

@media (max-width: 800px) {
  /*  섹션중 왼쪽에 글이 있는 상태의 섹션 */
  .LeftContianer {
    flex-direction: column;
    gap: 12px;
  }

  .RightContianer {
    flex-direction: column-reverse;
    gap: 12px;
  }

  .CenterContainer {
    position: relative;
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
  }
  .textWrapper {
    width: 100%;
    gap: 12px;
  }

  .CenterContainer > p,
  .textWrapper > p {
    color: var(--g0);
    margin: 0;
    font-size: 12px;
  }

  .image {
    width: 100%;
  }

  .center > span {
    font-size: 10px;
  }

  .mainImage {
    position: relative;
    width: 100vw;
    height: 250px; /* 패럴렉스 효과를 주고자 하는 요소의 높이에 맞게 조정하세요 */
    overflow: hidden;
    background-image: var(--img);
  }
}
