.pageContainer {
  width: var(--web1200);
  margin: 48px auto 200px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.pageWrapper {
  position: relative;
}

@media (max-width: 1440px) {
  .pageContainer {
    width: var(--web900);
    margin: 48px auto 200px;
  }
}
